/*====main carrusel home====*/
.seccion-carrusel-home {
  width: 1500px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.seccion-carrusel-home .swiper-slide img {
  width: 100%;
  object-fit: fill;
}

.seccion-carrusel-home .swiper .swiper-pagination {
  position: relative;
  bottom: 0;
}

.seccion-carrusel-home .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--color-c);
  width: 45px;
  height: 4px;
  opacity: 1;
  border-radius: 200px;
  margin: 0px 2px;
}

.seccion-carrusel-home .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-b);
}

/*====main bienvenida====*/
.seccion-bienvenida {
  width: 1500px;
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 20px;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  text-align: center;
}

/*====main carrusel descuentos====*/
.seccion-carrusel-descuentos {
  width: 1500px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.seccion-carrusel-descuentos .swiper-slide img {
  width: 100%;
  object-fit: fill;
}

/*====main categorias====*/
.seccion-categorias {
  width: 1500px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

.contenedor-solapas {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  row-gap: 16px;
  gap: 16px;
}

.contenedor-solapas .solapa {
  position: relative;
}

.contenedor-solapas .solapa .texto {
  width: 100%;
  height: 100%;
  color: white;

  position: absolute;
  text-align: center;
  font-size: 36px;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
}

.contenedor-solapas .solapa img {
  width: 100%;
}

.contenedor-solapas .solapa a::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
